body{
    background-color: #f3f3f3;
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

main{
    height: 100vh;
    width: auto;
    display: grid;
    grid-template-rows: 120px 1fr 50px;
}

/*-----Welcome-----*/
.welcome-title{
    grid-row: 1/2;
    text-align: center;
}

.welcome-container{
    position: relative;
    grid-row: 2/3;
    height: 800px;
    width: 100%;
}

.welcome-input{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

/*-----------Registration-------------*/
.registration-container{
    width: 100%;
    height: 600px;
}

.registration-container h2{
    margin-top: 0;
    text-align: center;
}
.registration-container .registration{
    margin-top: 40px;
}
.registration input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #b4b4b4;
    font-weight: bold;
}

.registration input:focus{
    background-color: #ddd;
    outline: none;
    font-weight: normal;
}

.btn-registration{
    border: 2px solid #b4b4b4;
    background: transparent;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 30px 0px ;
}

.btn-registration:hover{
    background-color: #b4b4b4;
    font-weight: bold;
    border: 1px solid #9f9f9f;
}

/*------------------ Log-in ---------------------*/
.login-container{
    width: 100%;
    height: 600px;
}

.login-input{
    margin-top: 40px;
}

.login-container h2{
    margin-bottom: 20px;
}

.login-input input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #b4b4b4;
    font-weight: bold;
}

.login-input input:focus{
    background-color: #ddd;
    outline: none;
    font-weight: normal;
}

.btn-login{
    border: 2px solid #b4b4b4;
    background: transparent;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 30px 0px ;
}

.btn-login:hover{
    background-color: #b4b4b4;
    font-weight: bold;
    border: 1px solid #9f9f9f;
}

/*----Logo-----*/
.logo{
    grid-row: 1/2;
    /* border-bottom: solid black; */
}

.logo p{
    position: relative;
    left: 20px;
    font-size: 40px;
    color: crimson;
    font-family: 'Sriracha', cursive;
}



/*------Small Profile Image------*/

.imageContainer{
    position: absolute;
    grid-row: 1/2;
    right: 20px;
    top: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;

}

.imageContainer image {
    width: 100%;
    height: auto;    
   
}

.modal-background{
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal{
    width: 600px;
    height: 500px;
    border: black solid 2px;
    left: -50%;
    transform: translateX(50%);
}

.modal p {
    position: absolute;
    right: 5px;
    top: 5px;
}

.modal h2{
    text-align: center;
}

.mainProfile{
    display: block;
    position: relative;
    left: 0;
    height: 600px;
    width: 80%;

} 

.bigImageContainer{
    position: absolute;
    left: 10px;
    height: 400px;
    width: 400px;
   
}

.mainProfile .bigImageContainer .imageContainer {
    /* border: black solid 2px; */
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border: black solid 2px;
    border-radius: 0%;
    /* object-fit: cover; */
}

.mainProfile .bigImageContainer .imageContainer image{

}

.bioEditor{
    position: absolute;
    left: 55%;
    height: 400px;
    width: 50%;


}