body{
    background-color: #ffff;
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif; 
       
}

#main{
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    grid-template-columns: 2.125rem 1fr 2.125rem;
}

.main-section{
    position: relative;
    grid-row: 2/3;
    grid-column: 2/3;
    
}
/*----------------------header---------------------*/

nav{
    grid-row: 1/2;
    grid-column: 2/4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(73,79, 82);
}

/* .menu{
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%
} */

.nav-links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-links li{
    color: #f3f3f3;
}



/*--------------Welcome----------------------------*/

.welcome-title h1{
    text-align: center;
}

.attendees-registration-link{
 position: absolute;
 top: 150px;
 right: 150px;
}

.festival-registration-link{
    position: absolute;
    top: 150px;
    left: 150px;
}

.welcome-festival-container{
position: relative;
left: 50%;
top: 200px;
transform: translateX(-50%);

width: 900px;
display: flex;
flex-wrap: wrap;
}

.welcome-festival{
    height: 300px;
    width: 400px;
    margin: 10px;
    background-color: rgb(160, 175, 184);
}

/*-----------------------App-------------------*/

.app{
    grid-row: 1/4;
    grid-column: 1/4;
    height: 100%;
    width: 100%;
}


/*---------------------Login----------------------*/

.login-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 600px;

}

.login-input{
    margin-top: 40px;
}

.login-container h2{
    margin-bottom: 20px;
    color: #3f3f3f;
    text-align: center;
}


.login-input input{
     display: block;
  box-sizing: border-box;
  margin: 30px 0px;
  padding: 4px;
  width: 90%;
  
  height: 32px;
  border: none;
  border-bottom: 1px solid #3f3f3f;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  color: #3f3f3f;
}

.login-input input:focus{
    width: 80%;
    outline: none;
    font-weight: normal;
}

.btn-login{
    border: transparent;
    background: transparent;
    border-radius: 6px;
    padding: 8px 15px;
    cursor: pointer;
    margin: 30px 0px ;
    color: #3f3f3f;
    transition: 0.3s;
    margin-top: 0;
}

.btn-login:hover{
    background-color: rgba(78, 78, 78, 0.5);

}

.login-password-error,
.login-email-error{
    color: red;
}

.login-container p{
    color: #3f3f3f;
}