body{
    background-color: #ffff;
    margin: 0;
    min-height: 100vh;
    font-family: 'Varela Round', sans-serif;; 
       
}

.app{
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    grid-template-columns: 2.125rem 1fr 2.125rem;
}

.main-section{
    position: relative;
    grid-row: 2/3;
    grid-column: 2/3;
    
}
/*----------------------header---------------------*/

nav{
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(99, 113, 121);
}

/* .menu{
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%
} */

.nav-links{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-links a li{
    color: #f3f3f3;
    font-family: 'Varela Round', sans-serif;
        text-decoration: none;

    

}

.nav-links a li:visited{
    color: #f3f3f3;
    text-decoration: none;

    
}


/*--------------Welcome----------------------------*/

.welcome-container{
    position: relative;
    width: 80%;
    height: 300px;
}

.welcome-title h1{
    text-align: center;
}

.attendees-registration-link{
 position: absolute;
 top: 150px;
 right: 150px;
}

.festival-registration-link{
    position: absolute;
    top: 150px;
    left: 150px;
}

/*-----------------------App-------------------*/

.app{
    grid-row: 1/4;
    grid-column: 1/4;
    height: 100%;
    width: 100%;
}

/*---------------------Attendees Registration----------------*/

.attendees-registration-container{

       position: absolute;
    grid-row: 2/3;
    grid-column: 2/3;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) ;
}

.attendees-registration input{
      display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 70%;
  
  height: 32px;
  border: none;
  border-bottom: 1px solid #3f3f3f;
  background-color: transparent;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  color: #3f3f3f;

}
/*----------------------Registration Container--------------*/

.registration-container{
    position: absolute;
    grid-row: 2/3;
    grid-column: 2/3;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) ;
}


.registration-container h2{
    margin-top: 0;
    text-align: center;
    color: #3f3f3f;
}
.registration-container .registration{
    margin-top: 40px;
    width: 90%;
}
.registration input{
   display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 70%;
  
  height: 32px;
  border: none;
  border-bottom: 1px solid #3f3f3f;
  background-color: transparent;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  color: #3f3f3f;
}
.registration label{
    color: #3f3f3f;
}

.registration input:focus{
    /* background-color: #ddd; */
    width: 80%;
    outline: none;
    font-weight: normal;
}


.btn-registration{
    border: transparent;
    background: transparent;
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
    color: #3f3f3f;
    transition: 0.3s;
    font-size: 15px;
}

.btn-registration:hover{
    /* background-color: #b4b4b4; */
    background-color: rgba(54, 54, 54, 0.4);
}

.registration-container p{
    color: #3f3f3f;
}

.registration-container a{
    color: #3f3f3f;
    text-decoration: none;
    transition: 0.3s;
     padding: 10px 15px;
     border-radius: 6px;
}
.registration-container a:visited{
    color: #3f3f3f;
}

.registration-container a:hover{
    background-color: rgba(78, 78, 78, 0.4);
}


/*--------------------Festival Registration-----------------*/

.festival-registration-container{
    position: relative;
    grid-row: 2/3;
    grid-column: 2/4;
    height: 400px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.festival-registration-container h2{
    margin-top: 0;
    text-align: center;
    color: #3f3f3f;
}
.festival-registration-container .registration{
    margin-top: 40px;
    width: 90%;
}
.festival-registration input{
   display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 70%;
  
  height: 32px;
  border: none;
  border-bottom: 1px solid #3f3f3f;
  background-color: transparent;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  color: #3f3f3f;
}
.festival-registration label{
    color: #3f3f3f;
}

.festival-registration .upload-image{
    border-bottom: none;
}

.btn-submit-image{
    margin-bottom: 40px;
}


.festival-registration input:focus{
    /* background-color: #ddd; */
    /* width: 80%;
    outline: none;
    font-weight: normal; */
}


.btn-festival-registration{
    border: transparent;
    background: transparent;
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
    color: #3f3f3f;
    transition: 0.3s;
    font-size: 15px;
}

.btn-festival-registration:hover{
    /* background-color: #b4b4b4; */
    background-color: rgba(78, 78, 78, 0.4);
}

.festival-registration-container p{
    color: #3f3f3f;
}

.festival-registration-container a{
    color: #3f3f3f;
    text-decoration: none;
    transition: 0.3s;
     padding: 10px 15px;
     border-radius: 6px;
}
.festival-registration-container a:visited{
    color: #3f3f3f;
}

.festival-registration-container a:hover{
    background-color: rgba(78, 78, 78, 0.4);
}

.upload-image{

}

/*---------------------Login----------------------*/

.login-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 600px;

}

.login-input{
    margin-top: 40px;
}

.login-container h2{
    margin-bottom: 20px;
    color: #3f3f3f;
    text-align: center;
}


.login-input input{
     display: block;
  box-sizing: border-box;
  margin: 30px 0px;
  padding: 4px;
  width: 90%;
  
  height: 32px;
  border: none;
  border-bottom: 1px solid #3f3f3f;
  background-color: transparent;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  color: #3f3f3f;
}

.login-input input:focus{
    width: 80%;
    outline: none;
    font-weight: normal;
}

.btn-login{
    border: transparent;
    background: transparent;
    border-radius: 6px;
    padding: 8px 15px;
    cursor: pointer;
    margin: 30px 0px ;
    color: #3f3f3f;
    transition: 0.3s;
    margin-top: 0;
}

.btn-login:hover{
    background-color: rgba(78, 78, 78, 0.5);

}

.login-password-error,
.login-email-error{
    color: red;
}

.login-container p{
    color: #3f3f3f;
}

/*-------------------------home-------------------*/
.home{
    height: 100%;
    width: 100%;
}
.welcome-festival-container{
    grid-row: 2/3;
    grid-column: 2/3;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.festival-info{
    position: relative;
    height: auto;
    width: 300px;
    margin: 50px;
    /* background-color: rgb(202, 226, 241); */
    
}

.festival-info a{
    text-decoration: none;
    color: #3f3f3f;
}


.festival-info h2{
    margin: 10px;
    text-align: center;
}

.festival-info h3{
    text-align: center;
    margin-top: 20px;
}

.festival-info .image-container{
    position: relative;
    /* left: 50%;
    transform: translateX(-50%); */
    height: auto;
    width: 100%;
    object-fit: content; 
}

.festival-info img{
    height: auto;
    width: 100%;
}

.festival-info .overlay{
        background: #1C1D21;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 3px;
    opacity: 0;
    /* z-index: 1; */
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.festival-info:hover .overlay {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: 0.8;
}

.festival-info .festival-content{
    position: absolute;
    left: 25px;
    right: 25px;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}
.festival-info .festival-content h2,
.festival-info .festival-content h3 {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    color: #FFF;
    margin-bottom: 10px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.festival-info:hover .festival-content h2,
.festival-info:hover .festival-content h3 {
    /* z-index: 99; */
  -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.festival-info .festival-content p {
    display: block;
    /* text-transform: uppercase; */
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    color: rgb(129, 168, 248);
    margin-bottom: 5px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.festival-info:hover .festival-content p {
       -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

/*---------------------Selected Festival-----------------------*/

.festival-page{
    grid-row: 2/3;
    grid-column: 2/3;
}

.selected-festival-container{
    grid-row: 2/3;
    grid-column: 2/3;
    position: relative;
    width: 90%;
    left: 50%;
    top: 50px;
    transform: translateX(-50%); 
    
}

.selected-festival-container .image-container{
    position: relative;
    height: 300px;
    width: 450px;
    border: #3f3f3f solid 2px;
    left: 50%;
    transform: translateX(-50%);
}

.selected-festival-container .image-container{
    border: none;
}

.selected-festival-container .image-container img{
    height: 100%;
    width: auto;
    margin-top: 20px;
}

.selected-festival-container .info-container{
    font-family: 'Varela Round', sans-serif;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e7e7e7; 
    width: 90%;
    border-radius: 20px;
    padding: 20px;
}

.info-container h1,
.info-container h2,
.info-container h3{
    text-align: center;

}

.info-container h4 {
    text-align: left;
    margin-bottom: 0 ;
    
}
.info-container p{
    margin-top: 5px;
}


.weather{
    height: 100px;
    width: auto;
}

.map{
    position: relative;
    height: 300px;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
}

/*-----------------------Ratings--------------------*/

.ratings-page{
    position: absolute;
    grid-row: 2/3;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
}

.ratings-container{
    position: relative;
    width: 80%;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.stars {
    position: relative;
    float: left;
    height: 46px;
    margin: 5px 0px 0px 10px ;
    padding: 0 10px;
    display: block;
}
.stars:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.stars:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.stars:not(:checked) > label:before {
    content: '★ ';
}
.stars > input:checked ~ label {
    color: #ffc700;    
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.stars > input:checked + label:hover,
.stars > input:checked + label:hover ~ label,
.stars > input:checked ~ label:hover,
.stars > input:checked ~ label:hover ~ label,
.stars > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.item{
    display: flex;
}

/*--------------Stars Results------------*/
.all-stars-results{
    position: relative;
    height: auto;
    width: 90%;
    background-color: #e7e7e7;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}
.each-stars-results{
    display: flex;
}

.each-stars-results p{
    margin-right: 10px;
}
.stars-results {
    position: relative;
    float: left;
    height: 46px;
    margin: 5px 0px 0px 10px ;
    padding: 0 10px;
    display: block;
}
.stars-results:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.stars-results:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    font-size:30px;
    color:#ccc;
}
.stars-results:not(:checked) > label:before {
    content: '★ ';
    color: #ffc700; 
}
/* 
.stars-results > input:checked ~ label {
    color: #ffc700;    
}
.stars-results:not(:checked) > label:hover,
.stars-results:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.stars-results > input:checked + label:hover,
.stars-results > input:checked + label:hover ~ label,
.stars-results > input:checked ~ label:hover,
.stars-results > input:checked ~ label:hover ~ label,
.stars-results > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
 */

 .average-ratings{
     position: relative;
     width: 60%;
     left: 50%;
     transform: translateX(-50%);
     background-color: rgb(183, 206, 253);
     border-radius: 10px;
     padding: 10px;

 }

  .average-ratings h3 {
      text-align: center;
  }

   .average-ratings p {
    margin-left: 10px;
}